html, body, .viewport {
        width: 100%;
		height: 100%;
        margin: 0;
		padding: 0;
}

@font-face {
    font-family: osh;
    src: url(../fonts/ostrichsans-heavy1-webfont.eot);
    src: url(../fonts/ostrichsans-heavy1-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/ostrichsans-heavy1-webfont.woff2) format('woff2'),
         url(../fonts/ostrichsans-heavy1-webfont.woff) format('woff'),
         url(../fonts/ostrichsans-heavy1-webfont.ttf) format('truetype'),
         url(../fonts/ostrichsans-heavy1-webfont.svg#ostrich_sansheavy) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: osm;
    src: url(../fonts/ostrich-regular1-webfont.eot);
    src: url(../fonts/ostrich-regular1-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/ostrich-regular1-webfont.woff2) format('woff2'),
         url(../fonts/ostrich-regular1-webfont.woff) format('woff'),
         url(../fonts/ostrich-regular1-webfont.ttf) format('truetype'),
         url(../fonts/ostrich-regular1-webfont.svg#ostrich_sansmedium) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: exo;
    src: url(../fonts/exo-regular-webfont.eot);
    src: url(../fonts/exo-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/exo-regular-webfont.woff2) format('woff2'),
         url(../fonts/exo-regular-webfont.woff) format('woff'),
         url(../fonts/exo-regular-webfont.ttf) format('truetype'),
         url(../fonts/exo-regular-webfont.svg#exoregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

.main {
	height: 100%;
	width: 100%;

	background: 
	
	radial-gradient(
 
	rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.2),
	rgba(0, 0, 0, 0.2),
	rgba(0, 0, 0, 0.2),
	rgba(0, 0, 0, 0.2),
	rgba(0, 0, 0, 0.3),	
	rgba(0, 0, 0, 0.4),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.6),
	rgba(0, 0, 0, 0.7),
	rgba(0, 0, 0, 0.8),
	rgba(0, 0, 0, 0.9)


    ),
	
	url("../graphics/background3.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

.main:before{

    content:'';
    position: absolute;
	width: 96%;
	height: 92%;
    border: 2px solid white;
	top: 4%;
	left: 2%;

}

#hero{

width:100%;
height:100%;

}


#hero > h1{

color: white;
font-size: 7.0vw;
position: absolute;
font-family: osh;

left: 50%;
top: 35%;
transform: translate(-50%, -50%);

}

#hero > h2{

color:white;
font-size: 2vw;
position: absolute;
font-family: osm;
font-weight: 900;
letter-spacing: 2px;
text-align: center;


left: 50%;
top: 52%;
transform: translate(-50%, -50%);

}

.ghost-button1{
  display: inline-block;
  width: 10%;
  height: 7%;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: osh;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
			  
position: absolute;
left: 50%;
top: 70%;
transform: translate(-50%, -50%);

}
.ghost-button1:hover,
.ghost-button1:active {

text-decoration: none;
  color: yellow;
  border-color: yellow;

  font-weight: bold;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button2{
  display: inline-block;
  width: 10%;
  height: 7%;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: osh;
  letter-spacing: 2px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
			  
position: absolute;
left: 50%;
top: 70%;
transform: translate(-170%, -50%);

}
.ghost-button2:hover,
.ghost-button2:active {
text-decoration: none;
  color: yellow;
  border-color: yellow;
  font-weight: bold;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button3{
  display: inline-block;
  width: 10%;
  height: 7%;
  font-size: 1.5vw;
  font-weight: bolder;
  font-family: osh;
  letter-spacing: 1px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
			  
position: absolute;
left: 50%;
top: 70%;
transform: translate(70%, -50%);

}
.ghost-button3:hover,
.ghost-button3:active {
text-decoration: none;
  color: yellow;
  border-color: yellow;
  font-weight: bold;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}
.yellow{

color: yellow;
font-weight: bold;
}

hr.style {

	position: relative;
	top: 44%;

	width: 25%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
}

hr.style1 {

	position: relative;
	top: 57%;

	width: 15%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
}










