html, body, .viewport {
        width: 100%;
		height: 100%;
        margin: 0;
		padding: 0;
}

/*Typography*/

@font-face {
    font-family: osh;
    src: url(../fonts/ostrichsans-heavy1-webfont.eot);
    src: url(../fonts/ostrichsans-heavy1-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/ostrichsans-heavy1-webfont.woff2) format('woff2'),
         url(../fonts/ostrichsans-heavy1-webfont.woff) format('woff'),
         url(../fonts/ostrichsans-heavy1-webfont.ttf) format('truetype'),
         url(../fonts/ostrichsans-heavy1-webfont.svg#ostrich_sansheavy) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: osm;
    src: url(../fonts/ostrich-regular1-webfont.eot);
    src: url(../fonts/ostrich-regular1-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/ostrich-regular1-webfont.woff2) format('woff2'),
         url(../fonts/ostrich-regular1-webfont.woff) format('woff'),
         url(../fonts/ostrich-regular1-webfont.ttf) format('truetype'),
         url(../fonts/ostrich-regular1-webfont.svg#ostrich_sansmedium) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: dense;
    src: url(../fonts/dense-regular-webfont.eot);
    src: url(../fonts/dense-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/dense-regular-webfont.woff2) format('woff2'),
         url(../fonts/dense-regular-webfont.woff) format('woff'),
         url(../fonts/dense-regular-webfont.ttf) format('truetype'),
         url(../fonts/dense-regular-webfont.svg#denseregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: rale;
    src: url(../fonts/raleway-light1-webfont.eot);
    src: url(../fonts/raleway-light1-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/raleway-light1-webfont.woff2) format('woff2'),
         url(../fonts/raleway-light1-webfont.woff) format('woff'),
         url(../fonts/raleway-light1-webfont.ttf) format('truetype'),
         url(../fonts/raleway-light1-webfont.svg#ralewaylight) format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Media Queries*/

@media (max-width: 768px) { 

.aboutme{

margin-top: -100px;

}


.me2{

display: block;
margin-right: auto;
margin-left: auto;
border-radius:10px;
border: white 5px solid;

}

.aboutcontent2{
text-align: left;
font-size: 17px;
color: #27ae60;
font-weight: bolder;
margin-top: 10px;




} 


.bubble{

display: block;
margin-right: auto;
margin-left: auto;
border-radius:10px;
border: white 5px solid;


}

.bubble:after 
{

position: absolute;
border-style: solid;
border-width: 23px 37px 23px 0;
border-color: transparent #9be8bc;
display: block;
width: 0;
z-index: 1;
margin-top: -23px;
left: -37px;
top: 50%;
}

.bubble:before 
{

position: absolute;
border-style: solid;
border-width: 27px 41px 27px 0;
border-color: transparent white;
display: block;
width: 0;
z-index: 0;
margin-top: -27px;
left: -46px;
top: 50%;
}



}

@media(min-width: 768px){

.me2{

display: block;
float: right;
margin-right: 10%;
border-radius:10px;
border: white 5px solid;


}

.aboutcontent2{
text-align: left;
font-size: 17px;
color: #27ae60;
font-weight: bolder;
margin-left: -5%;



} 

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 23px 37px 23px 0;
border-color: transparent #9be8bc;
display: block;
width: 0;
z-index: 1;
margin-top: -23px;
left: -37px;
top: 50%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 27px 41px 27px 0;
border-color: transparent white;
display: block;
width: 0;
z-index: 0;
margin-top: -27px;
left: -46px;
top: 50%;
}




}


@media (min-width: 992px) and (max-width: 1400px){

.aboutcontent1{

	
	width: 47%;


	}


}

@media (min-width: 768px) and (max-width: 992px){

.aboutcontent1{

	width: 42%;


	}


}



@media (max-width: 992px) { 

#text>.col-xs-12{
text-align: center;
font-size: 55px;

}

.col-xs-12.pike{
text-align: center;


}

.col-xs-12.aboutbottom1{

border-right: 0px transparent;


}
.col-xs-12.aboutbottom3{

border-right: 0px transparent;


}

.col-xs-12.abouttop1{

border-right: 0px transparent;


}

}
 
@media (min-width: 992px) { 

.col-md-5.steven{
text-align: right;

}

.col-md-5.designs{
text-align: left;
}

.col-md-2.pike{
text-align: center;
}


}
 






/*Hero Image Front Page above fold*/

#main {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;


	background: 
	url("../graphics/flat3.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		background-color: #3498db;
	font-family: rale;
	font-size: 65px;
	color: white;

}


#text{

display: inline-block;
position: absolute;
top: 46%;
width: 100%;

}

 
#subtext{

display: inline-block;
position: absolute;
top: 55.5%;
width: 100%;
font-size: 20px;
text-align: center;


}



hr.style3 {

	top: 50%;
	vertical-align: middle;
	width: 10%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
} 

 
hr.style2 {

	top: 60%;
	width: 5%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
} 

.bold{

font-weight: bolder;
color: #1A4C6D;

}

.navbar{

height:10%;
font-size: 20px;
color: white;

   background-color: transparent;
   background: transparent;
   border-color: transparent;

}

.navbar-nav{

  background-color: transparent;
   background: transparent;
   border-color: transparent;


}

#myNavbar{

color: white;
  background-color: transparent;
   background: transparent;
   border-color: transparent;
}


.icon-bar{
color: white;
background-color:white;
border: white;

}

.navbar .nav > li > a {
   color:white;
      background-color: transparent;
   background: transparent;
   border-color: transparent;
 
}

.navbar .nav > li > a:hover {
  
   color: #050F15;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   
}

.navbar-nav > a:active{
 
   color: black;
   font-weight: bolder;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}




.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#button{

display: inline-block;
position: absolute;
top: 70%;
width: 100%;
font-size: 20px;
text-align: center;

}

#line-contain{
position: absolute;
top: 77.5%;
width: 100%;
font-size: 20px;
text-align: center;

}


.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 10px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  background-color:#1A4C6D;
}



.arrow {
  position: fixed;
  bottom: 0;
  left: 49.35%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


#main-bottom-row{

display: inline-block;
position: absolute;
top: 76%;
width: 100%;
height: 50%;


}










/*About me section */

#about{

height: 100%;
display: block;
position: absolute;
overflow: hidden;
width: 100%;
font-family: rale;
background-color:#2ecc71;
}



.aboutme{


text-align: center;
color: white;
height: 100%;
width:100%;

}


.aboutme > h2{

font-family: rale;
color: white;
font-weight: 900;
font-size: 50px;
display: block;
text-align: center;
width: 100%;
padding: -5px;

}

.abouttop1{

border-right: 4px dashed white;
height: 130px;

}

.aboutbottom1{


margin-top: 5px;
border-right: 4px dashed white;
height: 500px;;

}

.aboutbottom3{


margin-top: 30px;
border-right: 4px dashed white;
height: 300px;

}

#about-bottom-row{

display: block;
height: 100%;

margin-right: 15px;
margin-left: 15px;

}

hr.style4 {

margin-bottom: -10px;
margin-left: auto;
margin-right: auto;
	width: 10%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
}

hr.style5 {
margin-top: 5px;
margin-left: auto;
margin-right: auto;
	width: 5%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
}






.bubble 
{
opacity: 0;
position: relative;
color: #030c07;
width: 390px;
height: 200px;
padding: 10px;
background: #9be8bc;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: white solid 5px;
}





.skillbar {
	position:relative;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	width: 620px;
	height: 200px;
	margin-bottom:5px;

	background:white;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:15px;
	color:#ffffff;
	background:#208e4e;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#9be8bc;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:14px;
	font-weight: bolder;
	height:35px;
	line-height:35px;
	color: black;

}








/*portfolio section*/ 


#portfolio{

position: relative;
top: 100%;
height:100%;
display: block;
width: 100%;
font-family: rale;
background-color: #E74C3C;
overflow: hidden;
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.nav-tabs{
    border-bottom:none;
    margin-bottom:15px;

	

}
.nav-tabs > li{
    border-bottom:none;
	width: 132px;
	margin-left: 15px;
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	border-radius:10px;
	


}
.nav-tabs li .blue,
.nav-tabs li .orange{
    padding: 20px 5px 20px 5px;

    color:#fff;

}
.nav-tabs li a > i,
.nav-tabs li a > i,
.nav-tabs li a > i {
    text-align:center;
    display:block;
    font-size: 25px;
    margin-bottom:10px;
}
.nav-tabs li .blue{
    background:#bf2718;
    transition:all 0.3s ease 0s;
	border-radius:10px;
}
.nav-tabs li .blue:hover{
    background:#bf2718;
    box-shadow:0 0 8px red;
	border-radius:10px;
}
.nav-tabs li.active .blue,
.nav-tabs li.active .blue:hover,
.nav-tabs li.active .blue:focus {
    background:#bf2718;
    color: #fff;
    border:3px solid white;
		border-radius:10px;
}
.nav-tabs li .orange{
    background:#f29c93;
    transition:all 0.3s ease 0s;
	border-radius:10px;
}
.nav-tabs li .orange:hover{
    background:#f29c93;
    box-shadow:0 0 8px red;
	border-radius:10px;
}
.nav-tabs li.active .orange,
.nav-tabs li.active .orange:hover,
.nav-tabs li.active .orange:focus{
    background:#f29c93;
    color: #fff;
    border:3px solid white;
		border-radius:10px;
}

.tab-content{

	opacity: 0;

}


.tab-content .blue{
    background:#bf2718;
    padding:15px;
	min-height: 400px;
	border-radius: 10px;
}
.tab-content .orange{
    background:#f29c93;
    padding:15px;
	min-height: 400px;
	border-radius: 10px;
}

.tab-content h4{
    font-weight: 600;
    margin:20px 0 0 0;
	font-size: 30px;
    text-transform:uppercase;
	text-align: center;
    color:#fff;
	
}
.tab-content p{
    color:#fff;
    margin:30px 5% 0 5%;
	font-size: 18px;
}
@media only screen and (max-width: 650px) {
    .nav-tabs > li{
        width:100%;
        text-align:center;
        margin-bottom:1px;
		margin-right: -5px;
    }
}

.icon{

display: block;
margin-right: auto;
margin-left: auto;
margin-top: 10px;

}
.tab-content b{
font-weight: 900;
font-size: 18px;
text-transform: uppercase;


}






















/*contact section */



#contact{

position: relative;
top: 100%;
height:100%;
display: block;
width: 100%;
font-family: rale;
background-color:#FFA330;
}























.profile > h2{

font-family: rale;
color:white;
font-size: 50px;
font-weight:bolder;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;

text-align: center;
width: 100%;



}


.me{

display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20%;
border-radius: 50%;

}






.profile{


background-color: #1A4C6D;
color: white;
height: 100%;


}


#height{
height:100%;
display: block;
}

.rowheight{

height: 26.6%;
display: block;

}


.skills{
background-color: #ebf5fc ;
color: white;
height:100%;
}




.top{

position: relative;
top: 0%;
width: 100%;
height:70%;

}

.inside{

position: relative;
width: 100%;
height:30%;

font-family: rale;
font-size: 15px;
color: white;
font-weight: bold;


}




#red1{
background-color: #e74c3c;
}
#red2{
background-color:#c0392b;
}
#green1{
background-color: #2ecc71;
}
#green2{
background-color: #27ae60
}
#yellow1{
background-color: #f1c40f;
}
#yellow2{
background-color:#f39c12;
}
#mid1{
background-color: #34495e;
}
#mid2{
background-color:#2c3e50;
}
#orange1{
background-color: #e67e22;
}
#orange2{
background-color:#d35400;
}
#purple1{
background-color: #9b59b6;
}
#purple2{
background-color:#8e44ad;
}


.design{

border-radius: 2%;
background-color: white;
text-align: center;
color: black;
margin: 20% 2.5% 0% 10%;
padding: 0px;
height:100%;


}
.dev{


background-color: white;
text-align: center;
color: black;
margin: 20% 2.5% 0% 0%;
height:100%;
padding: 0px;


}

.responsive{


background-color: white;
text-align: center;
color: black;
margin: 20% 0% 0% 0%;
height:100%;
padding: 0px;

}
.seo{


background-color: white;
text-align: center;
color: black;
margin: 2.5% 2.5% 0% 10%;
height:100%;
padding: 0px;

}
.bespoke{

background-color: white;
text-align: center;
color: black;
margin: 2.5% 2.5% 0% 0%;
height:100%;
padding: 0px;

}
.latest{


background-color: white;
text-align: center;
color: black;
margin: 2.5% 0% 0% 0%;
height:100%;
padding: 0px;

}























/* Portfolio Section */


.row.vdivide2 [class*='col-']:not(:last-child):after {
  
  
  border-style: dashed;
  width: 5px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: -3px;
  height: 100%;
  color: white;
  z-index: 10;
}

.info{

display: block;
background-color: #e74c3c;
color: white;
height: 100%;
font-family: rale;
border-right: 5px dashed white;



}

.projects{

display: block;
background-color: #c0392b;
color: white;
height: 100%;
font-family: rale

}



















#hero{

width:100%;
height:100%;

}


#hero > h1{

color: white;
font-size: 7.0vw;
position: absolute;
font-family: dense;
letter-spacing: 9px;
font-weight: 900;
left: 50%;
top: 33%;
transform: translate(-50%, -50%);
text-align: center;
width: 100%;


}

#hero > h2{

color:white;
font-size: 2vw;
position: absolute;
font-family: dense;
font-weight: 900;
letter-spacing: 9px;
text-align: center;


left: 50%;
top: 52%;
transform: translate(-50%, -50%);

}
.yellow{

color: #3498db;
font-weight: bold;
}


.ghost-button1{
  display: inline-block;
  width: 10%;
  height: 7%;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: osh;
  padding: 8px;
  color: white;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
			  
position: absolute;
left: 50%;
top: 70%;
transform: translate(-50%, -50%);

}
.ghost-button1:hover,
.ghost-button1:active {

text-decoration: none;
  color: #3498db;
  border-color: #3498db;

  font-weight: bold;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}



.ghost-button2{
  display: inline-block;
  width: 10%;
  height: 7%;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: osh;
  letter-spacing: 1px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
			  
position: absolute;
left: 50%;
top: 70%;
transform: translate(-170%, -50%);

}

.ghost-button2:hover,
.ghost-button2:active{
  text-decoration: none;
  color: #3498db;
  border-color: #3498db;
  font-weight: bold;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button3{
  display: inline-block;
  width: 10%;
  height: 7%;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: osh;
  letter-spacing: 1px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
			  
position: absolute;
left: 50%;
top: 70%;
transform: translate(70%, -50%);

}
.ghost-button3:hover,
.ghost-button3:active {
text-decoration: none;
  color: #3498db;
  border-color: #3498db;
  font-weight: bold;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}


hr.style {

	position: relative;
	top: 44%;

	width: 25%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
}

hr.style1 {

	position: relative;
	top: 57%;

	width: 15%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0), rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
}

.logo{
position: absolute;
top: 8%;
left:45%;

}


p {
  margin-left: -70px;

}
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
.scroll-btn {
	display: block;
	position: relative;
	top: 80%;
	left: 0;
	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: osm;
	letter-spacing: 5px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}


































